@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins&display=swap');

body {
  font-family: "League Spartan", sans-serif;
  margin-inline: 10%;
  background-color: antiquewhite;
}

header {
  padding: 0 10%;
  position: fixed;
  z-index: 1;
  display: flex;
  inset: 0;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #bdbdbd;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

footer a {
  margin: 5px;
}

footer p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  border: 3px solid black;
  background-color: white;
  box-shadow: 3px 3px black;
  transition: 300ms;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo-container .logo {
  width: 50px;
  height: 50px;
  background: url(img/logo.png);
  background-size: contain;
  cursor: pointer;
}

.logo-container h1 {
  font-family: 'Permanent Marker', cursive;
}

.navigation-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.active {
  background-color: black;
  color: white;
}

#jokes-list {
  margin: 100px 0 100px;
}

.joke-card {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 15px 30px 1px grey;
  border-radius: 10px;
  padding: 30px;
  transition: 300ms;
}

.joke-container {
  padding: 15px;
}

.joke-card hr {
  width: 100%;
}

.joke-text {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.likes-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-weight: bold;
}

.heart {
  width: 100px;
  height: 80px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png");
  background-size: auto;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  transform: translate(20px, -30px);
}

.is-heart-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.joke-card:hover {
  transform: scale(1.05);
}

.likes-container p {
  margin-top: 10px;
  letter-spacing: 2px;
}

footer {
  z-index: 1;
  background-color: #bdbdbd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.1);
}

.loading-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

@media (max-width: 600px) {
  header {
    height: 140px;
    flex-direction: column;
    padding: 15px;
  }

  #jokes-list {
    margin: 160px 0 100px;
  }
}
