body {
  font-family: "League Spartan", sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

header {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  margin-right: 5%;
}

footer a {
  margin: 5px;
}

a:hover {
  text-decoration: underline;
}

.logo {
  margin-right: 5%;
  width: 50px;
  height: 50px;
  background: url(./img/logo.png);
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}

#jokes-list {
  margin: 50px;
}

.joke-card {
  background-color: darkslategrey;
  color: white;
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 15px 30px 1px grey;
  border-radius: 10px;
  padding: 30px;
  transition: 300ms;
  gap: 15px;
}

.joke-card hr {
  width: 100%;
}

.joke-card button {
  padding: 5px 15px;
  border-radius: 5px;
  border: 3px solid black;
  background-color: white;
  box-shadow: 3px 3px black;
}

.joke-text {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.joke-card:hover {
  transform: scale(1.05);
}

footer {
  background-color: #bdbdbd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
}
